body {
    min-height: 100vh;
    margin: 0;
    padding: 24px 40px;
    background: rgb(103, 104, 125);
    background: linear-gradient(0deg, rgba(103, 104, 125, 1) 0%, rgba(47, 49, 66, 1) 100%);
    color: #fff;
    font-family: sans-serif;
}

.contactName {
    background-color: #4e536f;
    margin: 2px;
    font-size: 2em;
    padding: 8px;
}

.contactFilterWrapper {
    display: flex;
    justify-content: flex-end;
}

#contactFilter {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

#contactSearch {
    display: flex;
    position: relative;
    margin-bottom: 40px
}

#search {
    flex-shrink: 0;
    flex-grow: 1;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-color: #4e536f;
    color: #fff;
    border: none;
    padding: 24px 65px 24px 16px;
    font-size: 2em;
}

#searchButton {
    position: absolute;
    right: 8px;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    top: 4px;
}

.contactDetailsWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    color: #000;
}

.favourite {
    background-color: gold;
}

#heading {
    font-size: 2em;
    padding: 0 0 16px;
}

.name {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 24px;
}

.email {
    font-size: 2.5em;
}

.hidden {
    display: none;
}

#contactDetails {
    margin: 0 20px;
    padding: 24px;
    border: none;
    height: 86vh;
    background-color: #b7c0ce;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#contactList {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    overflow: hidden;
}

#closeDetails {
    display: block;
    float: right;
}